
body {
  background-image:
    radial-gradient(
      circle at center right,
      grey,
      white 80%
    );
    background-repeat: no-repeat;
    background-size: 100% 100%;

  font-family: sans-serif;
}
html {
    height: 100%
}

.title{
	text-align:left;
	margin-left:40px;
	color:#fff;
}
.main {
  margin:0 auto;
  max-width:500px;
}
.main-div {
  border:2px solid #999;
  background:#000080;
  /*background:#483D8B;*/
  border-radius:10px;
  box-shadow:0px 0px 3px #000;
  box-sizing:border-box;
  padding-top:35px;
  margin:150px auto;
  text-align:center;
  overflow: hidden;
}
.input-field {
  width: 100%;
  max-width:400px;
  height:30px;
  font-family: sans-serif;
  margin:10px 0;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}
.login-button {
  margin:15px 0;
  height:35px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:5px;
  color: slategrey;
  text-transform:uppercase;
  font-family: sans-serif;
  cursor:pointer;
}

.login-button:hover {
 box-shadow:0px 0px 5px white;
 color: red;
}
